:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--darkest);
}


form{
	width: 100%;
	display: flex;
	margin: 30px auto;
	justify-content: center;
	align-items: center;
}

form fieldset{
	width: fit-content;
	max-width: 80%;
}

form .mb-3{
	display: flex;
	justify-content: space-between;
	margin: auto;
}

form fieldset input{
	background-color: var(--dark);
	border-radius: 10px;
	font-size: 20px;
	border: none;
	display: flex;
	margin: auto;
	padding: 8px 5px;
	width: 500px;
	max-width: 80%;
}

form fieldset #btnAddNewTask{
	background:none;
	border: none;
	font-size: 30px;
	color: white;
	cursor: pointer;
	padding:0 10px;
}

#task-list{
	max-width: 60%;
	display: flex;
	margin: auto;
	padding: 0;
	flex-direction: column;
	list-style: none;
}

.btn{
	display: flex;
	background-color: rgba(255, 0, 0, 0.385);
	color: white;
	
	cursor: pointer;
	border: none;
	border-radius: 20px;
	padding: 10px 10px;
	margin: 0 auto;
	transition: 0.3s ease;
}

.btn:active{
	transform: scale(0.9);
}

#task-list #task-id{
	display: flex;
	justify-content: space-between;
	border: 1px solid white;
	width: 1000px;
	margin: 10px 0;
	padding: 10px;
	align-items: center;
}

#task-id label.checked{
	text-decoration: line-through;
}


.menu li{
	list-style: none;
	
}

.menu li a{
	color: white;
	text-decoration: none;

}

.controls {
	margin: 50px auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters span.active{
	color: #3c87ff;
}

.filters span{
	margin-right: 5px;
	font-size: 15px;
	color: #ffff;
	cursor: pointer;
}



@media only screen and (max-width: 430px){
	body{
		max-width: 100%;
	}

	h1{
		font-size: 20px;
	}

	form{
		display: flex;
		font-size: 15px;
		margin: 0 auto;
		width: fit-content;
	}

	form fieldset{
		font-size: 15px;
		width: auto;
	}

	form fieldset input{
		width: 300px;
		padding: 3px;
		font-size: 13px;
	}

	.controls .filters span{
		font-size: 13px;
	}


	.btn{
		padding: 5px 7px;
		font-size: 13px;
	}

	#task-list{
		margin: 20px auto;
		width: 100%;
		max-width: 100%;
	}

	#task-list #task-id{
		display: flex;
		margin:0 auto;
		padding: 5px ;
		max-width: 90%;
		font-size: 10px;
	}


	#task-list .form-check{
		overflow-x: hidden;
		max-width: 230px;
		
	}
	
	p{
		text-align: center;
		font-size: 13px;
	}
	
}
